{% extends "layout.html" %}

{% block body %}
 <!-- main content area for gallery -->
      <section>
        <ul id="gallery">
          
          <li>
            <a href="https://github.com/Ottermad/YourPlannerForAndroid" target="_blank">
              <img src="img/yourplanner.png" alt="Logo for Your Planner">
              <p>An open-source android app to replace highschool student's homework diarys</p>
            </a>
          </li>
          
          <li>
            <a href="https://github.com/Ottermad/AndroidRGBHex" target="_blank">
              <img src="img/androidrgbtohex.png" alt="Logo for Android RGB to Hexademical converter andorid app">
              <p>An android app to convert between rgb and hexadecimal.</p>
            </a>
          </li>
          
          <li>
            <a href="https://github.com/Ottermad/CodeClub" target="_blank">
              <img src="img/codeclub.png" alt="Logo for Code Club Website">
              <p>The website, using Bootstrap, for the local programming club I run.</p>
            </a>
          </li>
          
          <li>
            <a href="https://github.com/Ottermad/TwilioStarWars" target="_blank">
              <img src="img/twiliostarwars.png" alt="Logo for Twilio Star Wars">
              <p>A server side script using python and flask that allows people to call a number and hear the star wars theme tune.</p>
            </a>
          </li>
          
          <li>
            <a href="https://github.com/Ottermad/NumberConverter" target="_blank">
              <img src="img/number_converter.png" alt="Logo for Number Converter">
              <p>A python app ,using tkinter, that converts number in any base to and from denary.</p>
            </a>
          </li>
          
        </ul>
      </section>
 {% endblock %}
      
      
     